{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MY-PORTFOLIO</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/home.css' %}">
     <link rel="shortcut icon" href="http://sstatic.net/so/favicon.ico">


   </head>
   <body >









<header class="header">
  <div class="container">
    <nav class=" navbar-example2 navbar navbar-expand-lg navbar-light ">
     <a class="navbar-brand" href="#"><strong>Prathmesh</strong></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active ">
           <a class="nav-link cool-link " href="#hello">Hello <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
           <a class="nav-link cool-link " href="#skills">Skills<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
           <a class="nav-link cool-link " href="#Education">Education<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
           <a class="nav-link cool-link " href="#Portfolio">Portfolio<span class="sr-only">(current)</span></a>
         </li>

         <li class="nav-item ">
           <a class="nav-link cool-link" href="#Contact">Contact<span class="sr-only">(current)</span></a>


         </li>

       </ul>

     </div>
   </nav>
  </div>

     </header>

   <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">











     <section id="hello"  class="section img-responsive img-fluid" style="background-image: url('{% static "img/img1.jpg" %}');">
         <div class="container">

             <div class="row">

                 <div class="col-md-6">
                     <div class="about-me wow slideInLeft">
                         <div class="about-me-title">
                           <br>
                           <br>
                             <h1><span class="point">I am Prathmesh Nandurkar</span></h1>
                         </div>
                         <div class="about-me-text">
                             <div class="opacity-box">
                                 <p>I am a Web Developer located in Pune, India. I currently work
                                     as a part time Remote Junior Web Developer at fiverr, upwork
                                     . I am looking to take on more work and to increase my skills as
                                     a Web Developer.</p>
                             </div>
                         </div>
                         <div class="about-me-info">
                             <p>
                                 <span class="span-title"><strong>Phone</strong></span>
                                 <span>+91 | 776-993-3725</span>
                             </p>
                             <p>
                                 <span class="span-title"><strong>Email</strong> -</span>
                                 <span>prathmeshnandurkar123@gmail.com</span>
                             </p>

                             <p>
                               <span class="span-title"><strong>Social</strong> -</span>
                                 <span class="span-icons container">
                                   <a href="https://www.facebook.com/prathmesh.nandurkar.50/" target="_blank"><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com/prathmesh2048/" target="_blank" ><span class="fa fa-instagram"></span></a>
                                  <a href="https://www.linkedin.com/in/prathmesh-nandurkar-248738120/" target="_blank" ><span class="fa fa-linkedin" ></span></a>
                                    <a href="https://github.com/prathmesh2048" target="_blank" ><span class="fa fa-github" ></span></a>

                                 </span>
                             </p>
                         </div>

                         <div class="btn btn-primary button" data-toggle="modal" data-target="#exampleModal7">
                             <a  data-target="#contact-modal" href="#" >Contact me</a>

                         </div>
                         <div class="btn btn-primary button ">
                           <a href="https://www.linkedin.com/in/prathmesh-nandurkar-248738120/" target="_blank" class="site-btn gray-btn">Download cv</a>

                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 about-img-wrap">

                 </div>
             </div>
         </div>
     </section>

     <!-- Modal -->
      <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class=" container" id="contact-form" method="post" action="{% url 'new_request' %}" role="form">

                  {% csrf_token %}

      <div class="messages"></div>

      <div class="col-md-12 " >

          <div class="row ">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_name">Firstname *</label>
                      <input id="form_name" type="text" name="first_name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_lastname">Lastname *</label>
                      <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_email">Email *</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-tel-input" class="col-2 col-form-label">phone</label>
                    <div class="col-10">
                      <input class="form-control" name="phone"  type="tel" placeholder="phone number" id="example-tel-input">
                    </div>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="form_message">Message *</label>
                      <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-12">
                  <input type="submit" class="btn btn-success btn-send" value="Send message">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-muted">
                      <strong>*</strong> These fields are required.

              </div>
          </div>
      </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->

     <section id='skills' class="skills">
       <div class="container">
         <div class="row">
       <div class="col-md-4">

            <h1><strong>My Skills</strong></h1>
            <p>I am inspired by creating great work with people who are as passionate as I am about building something awesome.</p>
            <img src="{% static 'img/vector.jpg' %}" alt="none" class='img-fluid'>
         </div>
         <div class="col-md-4 front-end align-self-center">
           <h2><strong>Frontend-Development</strong></h2>
           <ul class='container '>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    HTML5
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    CSS3
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    JAVASCRIPT
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    BOOTSTRAP
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    REACT.JS
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    MATERIALIZE
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    TAILWIND
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    ADOBE PHOTOSHOP
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    LESS
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    SCSS
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                 </div>
               </div>
             </li>


           </ul>

         </div>
         <div class="col-md-4 backend align-self-center">
           <h2><b>Backend-Development</b></h2>
           <ul class='container '>
             <li >
               <div class="row">
                 <div class="col-md-6">
                    PYTHON
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    DJANGO
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    DJANGO REST-FRAMEWORK
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    DJANGO-CMS
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    NODE.JS
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    EXPRESS
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    SQL
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    MonoDB
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">
                    SQLITE
                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                    </div>
                 </div>
               </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-6">

                 </div>
                 <div class="col-md-6">
                   <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                 </div>
               </div>
             </li>


           </ul>

         </div>
         </div>
         </div>


     </section>


<!-- *****************  -->
<section id='Education'>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1><strong>Education</strong></h1>
        <div class="col">
          <br>
          <h1>School </h1>
          <p><i>2007-2017</i></p>
           <p>I did my schooling from Kendriya Vidyalaya, Ordnance Estate, Ambajhari, Nagpur. I was pretty involved in science competition there and curious about how things work </p>


           <p>CGPA: 10.0/10.0</p>

        </div>
        <div class="col">
          <br>
          <h1> High school </h1>
            <p>I did my high school from Shivaji Science College, Nagpur. and preparing for competitive exams</p>
          <p><i>2017-2019</i></p>
           <p>percentage: 80%</p>

        </div>
        <div class="col">
          <h1>University </h1>
          <p><i>2019-2023</i></p>

          <p>I'am currently studying at Singhad college of engineering, Pune
          Pursuing my engineering degree and upgrading my skills all the time</p>
        </div>

      </div>
      <div class="col-md-4">
        <h1><strong>My Belief</strong></h1>
        <p>All my life I have been driven by my strong belief that education is important. I try to learn something new every single day.</p>
        <img src="{% static 'img/edu.jpg' %}" class='img-fluid' style="">
      </div>

    </div>

  </div>
</section>

  <hr>

<!-- *****************************  my PORTFOLIO section  ***************************** -->

<section id="Portfolio"  >
  <div class="container text-center">
    <div class="text-center">
    <h1><strong>Projects</strong></h1>
    </div>

    <div class="row  mb-3 ">
      <div class="col-md-4 ">
        <div id="card"  class="card form-div" style="width: 18rem;">

          <img src="{% static 'img/project_sample.png' %}" class="card-img-top" alt="...">



          <div class="card-body">
            <p class="card-text">Fully functional <strong>Ecommerce-app</strong> with listing, add-to-cart, payment, shipping and authentication functionalities.</p>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable1" name="button">Preview</button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--  write some text here-->
                      <img src="{% static 'img/shopping_cart_exapmple/1.png' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/shopping_cart_exapmple/2.png' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/shopping_cart_exapmple/3.png' %}" style="width:100%;" alt="">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <a  class="btn btn-success" href="https://github.com/prathmesh2048">View Sourcecode</a>

                    </div>
                  </div>
                </div>
              </div>
                <!-- Modal -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card form-div" style="width: 18rem;">
          <img src="{% static 'img/project_sample.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">single paged Business website focusing on UI/UX, with<strong> CMS</strong> functionality.</p>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable2" name="button">Preview</button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--  write some text here-->
                      <img src="{% static 'img/Deployment/1.jpg' %}" style="width:100%;" alt="">

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <a  class="btn btn-success" href="https://github.com/prathmesh2048">View Sourcecode</a>

                    </div>
                  </div>
                </div>
              </div>
                <!-- Modal -->

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card form-div" style="width: 18rem;">
          <img src="{% static 'img/project_sample.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Blogs and News website with <strong>Web Scraping</strong> functionality.has features like database and API integration, with self upadating and manual control features.</p>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable3" name="button">Preview</button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable3" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--  write some text here-->
                      <img src="{% static 'img/finalprototype/1.jpg' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/finalprototype/2.jpg' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/finalprototype/3.jpg' %}" style="width:100%;" alt="">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <a  class="btn btn-success" href="https://github.com/prathmesh2048">View Sourcecode</a>
                    </div>
                  </div>
                </div>
              </div>
                <!-- Modal -->

          </div>
        </div>
      </div>

    </div>





    <div class="row">
      <div class="col-md-4">
        <div class="card form-div" style="width: 18rem;">
          <img src="{% static 'img/project_sample.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">This is a fully functional blog app with all functionalities like user authentication, social media login, <strong>CRUD</strong> operation, content management etc.</p>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable4" name="button">Preview</button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable4" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--  write some text here-->
                      <img src="{% static 'img/full_django_blog/1.png' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/full_django_blog/2.png' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/full_django_blog/3.png' %}" style="width:100%;" alt="">
                      <img src="{% static 'img/full_django_blog/4.png' %}" style="width:100%;" alt="">


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <a  class="btn btn-success" href="https://github.com/prathmesh2048">View Sourcecode</a>
                    </div>
                  </div>
                </div>
              </div>
                <!-- Modal -->

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card form-div" style="width: 18rem;">
          <img src="{% static 'img/project_sample.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">This is a fully functional blog app with all functionalities like ability of <strong>reservation</strong> , CRUD operation, content management, maps integration, feedback operation etc.</p>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable5" name="button">Preview</button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable5" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--  write some text here-->

                      <img src="{% static 'img/restro/1.jpg'  %}" style="width:100%;" alt="">
                      <img src="{% static 'img/restro/2.jpg'  %}" style="width:100%;" alt="">

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      <a  class="btn btn-success" href="https://github.com/prathmesh2048">View Sourcecode</a>
                    </div>
                  </div>
                </div>
              </div>
                <!-- Modal -->

          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card form-div" style="width: 18rem;">
          <img src="{% static 'img/project_sample.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">A Fully functional <strong>Craigslist</strong> Scraping app with dynamically generated content. made with django and libraries like beautiful soup and lxml. </p>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable6" name="button">Preview</button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModalScrollable6" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--  write some text here-->
                      <img src="{% static 'img/codedaddieslist/1.jpg' %}" style="width:100%;" alt="">

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <a  class="btn btn-success" href="https://github.com/prathmesh2048">View Sourcecode</a>
                    </div>
                  </div>
                </div>
              </div>
                <!-- Modal -->

          </div>
        </div>
      </div>

    </div>

<!-- sasoidfowmdcwdmcomcd -->







  </div>

</section>













<!-- *****************************  my PORTFOLIO section  ***************************** -->




<!-- ********************** contact form **********************-->
<section id='Contact'>
  <div class="container ">
    <div class="text-center mt-5 mb-5">
      <h1><strong>Contact</strong> </h1>
      <h5><strong>Have a question or want to work together?</strong></h5>
    </div>

  </div>

  <form class=" container" id="contact-form1" method="post" action="{% url 'new_request' %}" role="form">
      {% csrf_token %}

      <div class="messages"></div>

      <div class="col-md-6 offset-md-3" >

          <div class="row ">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_name">Firstname *</label>
                      <input id="form_name" type="text" name="first_name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_lastname">Lastname *</label>
                      <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_email">Email *</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-tel-input" class="col-2 col-form-label">phone</label>
                    <div class="col-10">
                      <input class="form-control" name="phone"  type="tel" placeholder="phone number" id="example-tel-input">
                    </div>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="form_message">Message *</label>
                      <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
              </div>
              <div class="col-md-12">
                  <input type="submit" class="btn btn-success btn-send" value="Send message">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-muted">
                      <strong>*</strong> These fields are required.

              </div>
          </div>
      </div>

  </form>
</section>




















<!-- ********************** contact form **********************-->


</div>




     <script src="https://use.fontawesome.com/a75a435f47.js"></script>
     <script src="https://use.fontawesome.com/27d296d66c.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
